<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="gadget-recap">
        <h2>Summary of your booking:</h2>
        <table class = "table">
          <tr>
            <td>category</td>
            <td class="text-right"><%=@gadget.category%></td>
          </tr>
          <tr>
            <td>brand</td>
            <td class="text-right"><%=@gadget.brand%></td>
          </tr>
          <tr>
            <td>model</td>
            <td class="text-right"><%=@gadget.model%></td>
          </tr>
          <tr>
            <td>description</td>
            <td class="text-right"><%=@gadget.description%></td>
          </tr>
          <tr>
            <td>Start</td>
            <td class="text-right"><%=@gadget.description%></td>
          </tr>
          </table>
          </div>
        </div>
      </div>
    </div>
  </div>
