<div class="col-xs-12 col-md-4">
  <%= link_to gadget_path(gadget) do %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path gadget.photos.first.path, height: 1000, crop: :fill %>');" class="img-responsive">
      <img class="card-user avatar" src="user.jpg">
      <div class="card-description">
        <h5>
          <%= gadget.category %>
        </h5>
        <h2>
          <%= gadget.brand %>
          <%= gadget.model %>
          <p id="summary"><%= gadget.description %></p>
        </h2>
        <h2>
          <%= "$#{gadget.price} per day" %>
        </h2>
      </div>
    </div>
  <% end %>
</div>
