<div class="col-xs-12 col-md-4">
  <%= link_to gadget_path(gadget) do %>
    <% gadget.photos.empty? ? img_url = "http://placehold.it/350x150" : img_url = gadget.photos.first.path %>
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path img_url, height: 1000, crop: :fill %>');" class="img-responsive">
      <% if gadget.user.photo %>
        <% user_photo =  gadget.user.photo.path %>
        <%= cl_image_tag user_photo, class: 'card-user avatar' %>
      <% else %>
        <%= image_tag('http://placehold.it/30X30', class: 'card-user avatar') %>
      <% end %>
    <div class="card-description">
      <h5><%= gadget.category %></h5>
      <h2>
          <%= gadget.brand %>
          <%= gadget.model %>
          <p id="summary"><%= gadget.description %></p>
      </h2>
      <h2><%= "$#{gadget.price} per day" %></h2>
    </div>
    </div>
  <% end %>
</div>
