<div class="container">
  <div class="row">
    <% if @filtered_gadgets.blank? %>

    <div class="col-xs-12">
      <p>We got nothing for you, sorry!</p>
    </div>

    <% else %>

    <% @filtered_gadgets.each do |gadget| %>
    <div class="col-xs-12 col-md-4 text-center">
      <%= link_to gadget_path(gadget) do %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url( <%= image_path 'imgres.jpg' %>);">
        <div class="card-category">
          <h5><%= gadget.category %></h5>
        </div>
        <div class="card-description">
          <h2><%= gadget.brand %> - <%= gadget.model %></h2>
          <p><%= "$#{gadget.price} per day" %></p>
        </div>

      </div>
      <% end %>
    </div>
    <% end %>



    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <label>When Do You Need It?</label>
            <form action="/search_results" method="/get">
              <div class="form-search form-inline">
                <input value="<%= params[:start_date] %>" type="date" placeholder="date" class="form-control" name="date">
                <input value="<%= params[:end_date] %>" type="date" placeholder="date" class="form-control" name="date">
                <input type="submit" value="Check Avalability" class="navbar-wagon-item navbar-wagon-button btn">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>



<div id="map" style="width: 100%; height: 600px;"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
