<div class="wrapper">
  <div class="row">
    <div class=" col-xs-12 col-lg-12">
      <div class="banner" style="background-image: url('<%= cl_image_path @gadget.photos.first.path, height: 1000, crop: :fill %>')">
        <div class="banner-content">
        </div>
      </div>
    </div>
  </div>
</div>
<div class = "card-gadget">
  <div class ="container">
    <div class="row">
      <div class=" col-xs-12 col-md-6">
        <h2><%=@gadget.brand%> | <%=@gadget.model%></h2>
        <div class = "description">
          <div class ="item">
            <p><%=@gadget.description%></p>
            <h3> Features </h3>
            <table class = "table">
              <tr>
                <td>category</td>
                <td class="text-right"><%=@gadget.category%></td>
              </tr>
              <tr>
                <td>brand</td>
                <td class="text-right"><%=@gadget.brand%></td>
              </tr>
              <tr>
                <td>model</td>
                <td class="text-right"><%=@gadget.model%></td>
              </tr>
            </table>
          </div>
        </div>
      </div>


      <div class=" col-xs-12 col-md-6">
        <div class = "item-booking">
          <table class = "table price">
           <tr>
            <td id="gadgetprice"><%=@gadget.price%> €</td>
            <td class ="text-right"> per day</td>
          </tr>
        </table>
        <table class = "table unstyled date">
          <tr>
            <td class="text-center">from </td>
            <td class="text-center">to </td>
          </tr>
          <tr>
              <%= simple_form_for [@gadget, @booking] do |f| %>
            <td> <%= f.input :start_date, as: :string, input_html: {class: "form-control datetimepicker", id:"start_date"} %></td>
            <td> <%= f.input :end_date, as: :string, input_html: {class: "form-control datetimepicker", id:"end_date"} %> </td>
          </tr>
        </table>
        <table class = "table">
           <tr>
            <td>total price</td>
            <td class ="text-right" id="price"><%=@gadget.price%>€</td>
          </tr>
        </table>
        <%= f.submit "book now!", class: "btn btn-primary btn-large btn-block book" %>
        <% end %>
            <p class = "text-center"> no money here, the owner will just receive a booking request </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class ="container">
  <div class="row">
    <div class=" col-xs-12">
      <div id="map" style="width: 100%; height: 300px;"></div>
    </div>
  </div>
</div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
      var handler = Gmaps.build('Google');
      handler.buildMap({ internal: { id: 'map' } }, function() {
        markers = handler.addMarkers(<%= raw @hash.to_json %>);
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        if (markers.length == 0) {
          handler.getMap().setZoom(2);
        } else if (markers.length == 1) {
          handler.getMap().setZoom(14);
        }
      });
    });
  <% end %>
<% end %>
