<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= yield(:model).empty? ? "Available Equipment" : yield(:model) %></title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <!-- Navbar -->
    <%= render 'shared/navbar' %>

    <!-- Notices and Alerts -->

    <!-- Main Page -->


    <%= render 'shared/flashes' %>
  <%= yield %>
    <!-- Javascripts -->
    <%# javascript_include_tag "https://code.jquery.com/ui/1.12.1/jquery-ui.js" %>
    <%= javascript_include_tag 'application' %>

    <%= yield(:after_js) %>
  </body>
</html>
